body {
  background-color: powderblue;
}

h1,
h2 {
  text-align: center;
}

.job {
  background-color: lightsalmon;
  width: 600px;
  border: 15px solid whitesmoke;
  padding: 50px;
  margin: 20px;
  text-align: center;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

button {
  align-content: center;
}

#contacts {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#contacts tr:nth-child(even) {
  background-color: gray;
}

form {
  background-color: lightsalmon;
  width: 600px;
  border: 15px solid whitesmoke;
  padding: 50px;
  margin: 20px;
  text-align: center;
}
